div{
	overflow:hidden;
}
.All_menu{
	display:inline-block;
}
.header_image{
	float:left;
	overflow:hidden;
}
nav{
	overflow:hidden;
}
body{
	background-image:url(../img/banksy.gif);
	background-position: 50% 50%;
	background-size:1500px auto;
	background-repeat: no-repeat; 
	z-index:5;
}
.nav-pills{
	vertical-align: middle;
}
#homefooter{
	position:absolute;
	z-index:1;
	right:0;
	bottom:0;
	left:0;
	margin 0;
	min-width:980px;
	width:100%;
	height:90px;
	padding: 0;
	color:#fff;   /*#6e6e6e;*/
	font-size:0.8334em;
	line-height:1.2;
	text-align:center;
	zoom:1;

}
.wrapper{
	margin: 0 auto;
	width:980px;
	padding:1em 0 2.6em;
}
#homefooter .left {
float: left;
clear: both;
width: 49%;
padding-top: 1.5em;
text-align: left;
}

#homefooter .right {
float: right;
width: 51%;
padding-top: 1.5em;
text-align: right;